{% extends "base.html" %}
{% load static %}

{% block title %}Set New Password{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 500px;">
  <h3 class="text-center mb-4">Change Password</h3>
  <form id="set-password-form">
    <div class="form-outline mb-3">
      <input type="password" class="form-control" placeholder="Current password" required />
    </div>
    <div class="form-outline mb-3">
      <input type="password" class="form-control" placeholder="New password" required />
    </div>
    <div class="form-outline mb-3">
      <input type="password" class="form-control" placeholder="Repeat new password" required />
    </div>
    <button type="submit" class="btn btn-primary w-100">Update Password</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'authentication/js/set_password.js' %}"></script>
{% endblock %}
