<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for card in page_obj %}
    <div class="col">
      <div class="card h-100">
        <img src="{{ card.image.url }}" class="card-img-top object-fit-cover" style="height: 200px; width: 100%;">
        <div class="card-body text-dark">
            <h5 class="card-title fw-bold">{{ card.title }}</h5>
            <p class="card-text text-start text-muted" style="line-height: 1.6;">{{ card.description }}</p>
        </div>
        <div class="card-footer">
          {% if card.youtube_link %}
            <a href="{{ card.youtube_link }}" class="btn btn-danger" target="_blank">YouTube</a>
          {% endif %}

          {% if card.pdf_file %}
            <a href="{{ card.pdf_file.url }}" class="btn btn-primary" target="_blank">PDF</a>
          {% endif %}

          {% if card.extra_file %}
            <a href="{{ card.extra_file.url }}" class="btn btn-secondary" target="_blank">File</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
