{#<!-- Mobile: Full-width carousel -->#}
{#<div class="container-fluid px-0 d-lg-none">#}
{#  <div id="mainCarouselMobile" class="carousel slide" data-bs-ride="carousel">#}
{#    <div class="carousel-inner">#}
{#      <div class="carousel-item active">#}
{#        <img src="https://picsum.photos/id/1015/1200/400" class="d-block w-100" alt="Mobile Slide 1">#}
{#        <div class="carousel-caption d-none d-md-block">#}
{#          <h5>Mobile Slide 1</h5>#}
{#          <p>Caption for mobile slide 1</p>#}
{#        </div>#}
{#      </div>#}
{#      <div class="carousel-item">#}
{#        <img src="https://picsum.photos/id/1018/1200/400" class="d-block w-100" alt="Mobile Slide 2">#}
{#        <div class="carousel-caption d-none d-md-block">#}
{#          <h5>Mobile Slide 2</h5>#}
{#          <p>Caption for mobile slide 2</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarouselMobile" data-bs-slide="prev">#}
{#      <span class="carousel-control-prev-icon"></span>#}
{#      <span class="visually-hidden">Previous</span>#}
{#    </button>#}
{#    <button class="carousel-control-next" type="button" data-bs-target="#mainCarouselMobile" data-bs-slide="next">#}
{#      <span class="carousel-control-next-icon"></span>#}
{#      <span class="visually-hidden">Next</span>#}
{#    </button>#}
{#  </div>#}
{#</div>#}
{##}
{#<!-- Desktop: Contained carousel -->#}
{#<div class="d-none d-lg-block">#}
{#  <div id="mainCarouselDesktop" class="carousel slide" data-bs-ride="carousel">#}
{#    <div class="carousel-inner">#}
{#      <div class="carousel-item active">#}
{#        <img src="https://picsum.photos/id/1015/1200/400" class="d-block w-100" alt="Desktop Slide 1">#}
{#        <div class="carousel-caption d-none d-md-block">#}
{#          <h5>Desktop Slide 1</h5>#}
{#          <p>Caption for desktop slide 1</p>#}
{#        </div>#}
{#      </div>#}
{#      <div class="carousel-item">#}
{#        <img src="https://picsum.photos/id/1018/1200/400" class="d-block w-100" alt="Desktop Slide 2">#}
{#        <div class="carousel-caption d-none d-md-block">#}
{#          <h5>Desktop Slide 2</h5>#}
{#          <p>Caption for desktop slide 2</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarouselDesktop" data-bs-slide="prev">#}
{#      <span class="carousel-control-prev-icon"></span>#}
{#      <span class="visually-hidden">Previous</span>#}
{#    </button>#}
{#    <button class="carousel-control-next" type="button" data-bs-target="#mainCarouselDesktop" data-bs-slide="next">#}
{#      <span class="carousel-control-next-icon"></span>#}
{#      <span class="visually-hidden">Next</span>#}
{#    </button>#}
{#  </div>#}
{#</div>#}
