<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="#">CadworkBridge</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" onclick="loadCardList()">Home</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/docs">Swagger</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link disabled">{{ request.user.email }}</a>
        </li>
        <li class="nav-item">
<a class="nav-link" href="#" onclick="event.preventDefault(); handleLogout();">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
<a class="nav-link" href="#" onclick="event.preventDefault(); loadLogin();">Login</a>
        </li>
        <li class="nav-item">
<a class="nav-link" href="#" onclick="event.preventDefault(); loadRegister();">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
