{% extends "base.html" %}
{% load static %}
{% block title %}REGISTER{% endblock %}
{% block css %}
<!--<link rel="stylesheet" href="{% static 'core/css/register.css' %}">-->
{% endblock %}
{% block body %}
  <h1>REGISTER</h1>
<form id="register-form">
  <input type="email" id="email" placeholder="Email" required />
  <input type="password" id="password" placeholder="Password" required />
  <button type="submit">Register</button>
</form>

<div id="message"></div>

{% endblock %}

{% block js %}
<script src="{% static 'core/js/register.js' %}"></script>
{% endblock %}